#investor-container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  .investor-header {
    h1 {
      color:$teal;
      font-size: $dt-big;
      line-height:1em;
    }
    .capital-big {
      font-size: 18px;
      margin-top:1em;
      .sub {
        font-size: 24px;
        font-weight: bold;
        color:$teal;
      }
    }
    .user-message {
      max-width: 880px;
      margin: 1em auto 0 auto;
    }
  }
  #file-container {
    margin-top: 4em;
    > ul {
      letter-spacing: -4px;
      > li {
        display: inline-block;
        letter-spacing:normal;
        vertical-align: top;
        width: 33.3%;
        padding: 0 20px 40px 20px;
        .prop-header {
          position: relative;
          &:after {
            @extend %before-fix;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -8px;
            width: 16px;
            height: 0;
            border-top:1px solid white;
          }
          > *:last-child {
            padding-bottom: 15px;
          }
          > h2 {
            padding-bottom: 15px;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
          }
          > .fund {
            font-size: 18px;
            strong {
              color: $teal;
            }
          }
        }
        .prop-body {
          padding-top:15px;
          font-size: 18px;
          h2.no-files {
            font-size: 14px;
          }
          a.archive {
            font-size: 16px;
          }
          .file-list {
            > li {
              position: relative;
              margin-bottom: 15px;
              padding-bottom: 15px;
              &:before {
                @extend %before-fix;
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -8px;
                width: 16px;
                height: 0;
                border-top:1px solid white;
              }
              .date {
                font-size: 14px;
              }
              .dl-link {
                cursor: pointer;
                color: $teal;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

//
#investor-footer-links {
  position: fixed;
  left: 50px;
  bottom: 30px;
  a {
    margin-right: 15px;
  }
}
