#investor-container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  .investor-header {
    h1 {
      color:$teal;
      font-size: $dt-big;
      line-height:1em;
    }
    .capital-big {
      font-size: 18px;
      margin-top:1em;
      .sub {
        font-size: 24px;
        font-weight: bold;
        color:$teal;
      }
    }
    .fund {
      margin-top:.5em;
      strong {
        color:$teal;
      }
    }
    .user-message {
      max-width: 880px;
      margin: 1em auto 0 auto;
    }
  }
  #file-container {
    margin-top: 4em;
    .file-list {
      > li {
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 15px;
        &:before {
          @extend %before-fix;
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -8px;
          width: 16px;
          height: 0;
          border-top:1px solid white;
        }
        .date {
          font-size: 14px;
        }
        .dl-link {
          cursor: pointer;
          color: $teal;
          font-weight: bold;
        }
      }
    }
    > ul {
      letter-spacing: -4px;
      > li {
        display: inline-block;
        letter-spacing:normal;
        vertical-align: top;
        width: 33.3%;
        padding: 0 20px 40px 20px;
        .prop-header {
          position: relative;
          &:after {
            @extend %before-fix;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -8px;
            width: 16px;
            height: 0;
            border-top:1px solid white;
          }
          > *:last-child {
            padding-bottom: 15px;
          }
          > h2 {
            padding-bottom: 15px;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
          }
          > .fund {
            font-size: 18px;
            strong {
              color: $teal;
            }
          }
        }
        .prop-body {
          padding-top:15px;
          font-size: 18px;
          h2.no-files {
            font-size: 14px;
          }
          a.archive {
            font-size: 16px;
          }

        }
      }
    }
  }
}

//
#investor-footer-links {
  position: fixed;
  left: 50px;
  bottom: 30px;
  a {
    margin-right: 15px;
  }
}


//EDIT ACCOUNT
.custom-editor {
  max-width: 500px;
  margin: 2em auto 0 auto;
  background: rgba(black,.2);
  padding: 25px;
  border: 2px solid white;
  .form-group {
    margin-bottom:1em;
    &:last-child {
      margin: 0;
    }
    label, input {
      display: block;
      width: 100%;
      text-align:left;
    }
    label {
      font-size:.85em;
      text-transform:uppercase;
      margin-bottom: .5em;
      line-height:1em;
    }
    input[type="text"], input[type="password"] {
      padding: 10px;
      font-weight:bold;
      color:white;
      background:rgba(white,.2);
    }
    input[type="submit"] {
      width: auto;
      background: $teal;
      padding: 5px 10px;
      cursor: pointer;
      text-transform:uppercase;
      color: white;
      font-weight: bold;
      display:inline-block;
    }
  }
  .submit-container {
    text-align:right;
  }
  h3.pass {
    margin-top:1em;
    color:$teal;
    font-size: 18px;
    font-weight:bold;
  }
  .help-block {
    display:block;
    text-align: left;
    font-size: 14px;
  }
}


ul#archive-list {
  .date-opener.section-0 {
    h4 {
      margin-top: 1em;
    }
  }
  .date-opener {
    .file-list {
      display:none;
    }
    &.__opened {
      h4 {
        a {
          .arrow svg {
            transform:rotate(180deg);
          }
        }
      }
    }
    h4 {
      margin-bottom: .5em;
      a {
        display:block;
        span.copy {
          display:inline-block;
          position: relative;
          font-weight:bold;
          color:$teal;
          padding-right: 15px;
          .arrow svg {
            width:8px;
            height: 5px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top:-2.5px;

            * {
              fill:$teal;
            }
          }
        }
      }
    }
  }
}
#back-to-home {
  padding-top: .5em;
}
