#loader-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 10;
  opacity: 0;
  transition: opacity $ts;
  background: white;
  pointer-events:none;
  html.__page-loading & {
    opacity: 1;
  }
  &:after {
    display: block;
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $teal;
    animation: loadingBar 1s infinite linear;
    transform-origin: left center;
  }
  @media($dt) {
  //  height: 5px;
  }
}

@keyframes loadingBar {
  0% {
    transform-origin: left center;
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    transform-origin:left center;
    opacity: 1;
  }
  50.01% {
    transform-origin: right center;
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin:right center;
  }
}
